<div class="subcollection-management">
  <!-- SUBCOLLECTIONS LIST -->
  <div class="container">
    <h3 class="container__title">SubCollection List</h3>
    @if (!loading() && subcollections().length > 0) {
      <div class="subcollection-management__filters">
        <app-dropdown-franchises
          label="Filter by franchise"
        />
        <app-dropdown-collections
          [filteredByFranchise]="franchiseSelection()"
          label="Filter by collection"
          [disabled]="franchiseSelection() === ''"
          [(value)]="collectionSelection"
          />
        <button class="btn-primary" (click)="clearCollectionSelection()">
          <span class="material-icons-outlined">filter_alt_off</span>
        </button>
      </div>

      @if (collectionSelection() !== '' && filteredSortedSubCollections().length > 0) {
        <table class="subcollection-management__list">
          <thead>
            <tr>
              <th>Name (en)</th>
              <th>Slug</th>
              <th>Collection</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (subcollection of filteredSortedSubCollections(); track subcollection.id) {
              <tr app-subcollection-list-item [subcollection]="subcollection"></tr>
            }
          </tbody>
        </table>
      }
    }
    <!-- LOADING -->
    @if (loading()) {
    <p>Loading...</p>
    }
    @if (!loading() && collectionSelection() === '') {
    <p>Please select a collection</p>
    }
    <!-- EMPTY LIST -->
    @if (!loading() && filteredSortedSubCollections().length === 0) {
    <p>No subcollections found</p>
    }
  </div>

  <!-- ADD NEW SUBCOLLECTION -->
  <div class="container">
    <h3 class="container__title">Add New SubCollection</h3>
    <div class="subcollection-management__filters">
      <app-dropdown-franchises
        label="Filter by franchise"
      />
      <button class="btn-primary" (click)="clearCollectionSelection()">
        <span class="material-icons-outlined">filter_alt_off</span>
      </button>
    </div>
    <app-subcollection-form
      [subcollection]="newSubCollection()"
      (updatedSubCollection)="onNewSubCollection($event)"
      [loading]="loading()"
      [reduced]="true"
      [franchiseId]="franchiseSelection()"
    />
    <button class="btn-primary"
      (click)="addSubCollection()"
      [disabled]="!isValidSubCollection()">
      Add SubCollection
    </button>
  </div>

</div>
