@use '../../../styles/variables' as *;

.dashboard-images {
  display: flex;
  height: calc(100vh - 50px);
  overflow: hidden;

  &__content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
  }

  app-sidemenu {
    display: block;
  }
}