<td class="product-list-item__td product-list-item--drag">
  <span class="material-icons-outlined">open_with</span>
</td>

<td class="product-list-item__td product-list-item--checkbox">
  <app-form-checkbox
    [checked]="isSelected()"
    (checkedChange)="onCheckboxChange()"
  />
</td>

<td class="product-list-item__td product-list-item--info">
  <p class="name">{{ product().name }}</p>
</td>

<td class="product-list-item__td product-list-item--id">
  {{ product().id || '-' }}
</td>

<td class="product-list-item__td product-list-item--actions">
  <a class="btn-primary btn-sm"
    [routerLink]="['/product', product().id]"
    title="Edit product">
    <span class="material-icons-outlined">edit</span>
  </a>
  <button class="btn-danger btn-sm"
    (click)="deleteProduct()"
    title="Delete product">
    <span class="material-icons-outlined">delete</span>
  </button>
</td>
