<td class="img-list-item__checkbox">
  <app-form-checkbox [checked]="isSelected()" (checkedChange)="onCheckboxChange()" />
</td>

<td class="img-list-item__thumbnail">
  <img [src]="'uploads/images/' + image().filename" [alt]="image().alt || image().filename">
</td>

<td class="img-list-item__info">
  <p class="filename">{{ image().filename }}</p>
</td>

<td class="img-list-item__alt">
  <app-form-input id="alt-{{ image().id }}" placeholder="Enter alt text" [(value)]="altText" (blur)="onAltBlur()" />
</td>

<td class="img-list-item__actions">
  <button class="btn-danger btn-icon" (click)="deleteImage()" title="Delete image">
    <span class="material-icons-outlined">delete</span>
  </button>
</td>