<div class="collection-management">
  <!-- COLLECTIONS LIST -->
  <div class="container">
    <h3 class="container__title">Collection List</h3>
    @if (!loading() && collections().length > 0) {
      <div class="collection-management__filters">
        <app-dropdown-franchises
          label="Filter by franchise"
        />
        <button class="btn-primary" (click)="clearFranchiseSelection()">
          <span class="material-icons-outlined">filter_alt_off</span>
        </button>
      </div>

      <table class="collection-management__list">
        <thead>
          <tr>
            <th>Name (en)</th>
            <th>Slug</th>
            <th>Manufacturer</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (collection of filteredSortedCollections(); track collection.id) {
            <tr app-collection-list-item [collection]="collection"></tr>
          }
        </tbody>
      </table>
    }
    <!-- LOADING -->
    @if (loading()) {
      <p>Loading...</p>
    }
    <!-- EMPTY LIST -->
    @if (!loading() && collections().length === 0) {
      <p>No collections found</p>
    }
  </div>

  <!-- ADD NEW COLLECTION -->
  <div class="container">
    <h3 class="container__title">Add New Collection</h3>
    <app-collection-form
      #collectionForm
      [collection]="newCollection()"
      (updatedCollection)="onNewCollection($event)"
      [loading]="loading()"
      [reduced]="true"
    />
    <button class="btn-primary"
      (click)="addCollection()"
      [disabled]="!isValidCollection()">
      Add Collection
    </button>
  </div>

</div>
