@use '../../../../styles/variables' as *;

.folders-menu-rename {
  display: flex;
  flex-direction: column;

  &__actions {
    display: flex;
    gap: 0.75rem;

    // Hacer los botones del mismo tamaño
    > button {
      flex: 1;
    }
  }
}
