<div class="edit-collection">
  <section class="edit-collection__content">

    <app-title-page
      title="Edit Collection"
      [subtitle]="id()"
      backRoute="/dimensions"
    />

    @if (loading()) {
      <div class="edit-collection__loading">Loading collection...</div>
    } @else if (error()) {
      <div class="edit-collection__error">{{ error() }}</div>
    } @else if (!collection()) {
      <div class="edit-collection__not-found">Collection not found</div>
    } @else {
      @if (collection(); as c) {
        <div class="edit-collection__form">
          <app-collection-form
            [collection]="c"
            (updatedCollection)="updatedCollectionDataChange($event)">
          </app-collection-form>
          <button
            type="button"
            class="btn-primary"
            [disabled]="loading() || !isDataValid()"
            (click)="onSubmit()"
          >
            {{ loading() ? 'Updating...' : 'Update Collection' }}
          </button>
          <pre>{{ collection() | json }}</pre>
      </div>
      }
    }
  </section>
</div>
