@use '../../../styles/variables' as *;
@use '../../../styles/breakpoints' as *;

.subcollection-management {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;

  @include mq-desktop {
    flex-direction: row;

    .container {
      flex: 1;
    }
  }

  &__filters {
    width: 100%;
    display: flex;
    align-items: end;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    border-bottom: 1px solid $gray-400;

    & > * {
      flex: 1;
    }

    button {
      max-width: 50px;
      margin-bottom: 0.5rem;
      min-height: 50px;
    }
  }

  &__list {
    width: 100%;
    border-collapse: collapse;
    background-color: $color-bg-light;
    border: 1px solid $gray-600;
    border-radius: 4px;
    overflow: hidden;

    thead {
      background-color: $gray-700;

      tr {
        th {
          padding: 0.25rem;
          text-align: left;
          font-weight: 800;
          color: $color-text-dark;
          border-bottom: 2px solid $gray-600;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid $gray-600;

        &:last-child {
          border-bottom: none;
        }
      }
    }
  }

}
