@use '../../../../styles/variables' as *;

.subcollection-list-item {
  &__name,
  &__slug,
  &__collection,
  &__status {
    padding: 0.5rem;
    color: $color-text-dark;
  }

  &__actions {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    justify-content: flex-end;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 35px;
      width: 45px;

      .material-icons-outlined {
        font-size: 1.2rem;
      }
    }
  }
}
