@use '../../../styles/variables' as *;

.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 50px;
  padding: 0 1.5rem;
  background-color: $color-bg-medium;
  border-bottom: 1px solid $color-bg-light;

  &__logo {
    display: flex;
    align-items: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: $color-text-light;
    border-radius: 50%;
    padding: 0.35rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__link {
    color: $color-text-medium;
    font-size: 0.95rem;
    font-weight: 500;
    transition: color 0.2s ease;

    &:hover,
    &.active {
      color: $color-primary;
    }
  }

  &__buttons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 2rem;

    button {

    }
  }
}
