<header class="header">

  <a routerLink="/" class="header__logo">
    <div class="header__icon-container">
      <img src="/assets/toyzinger_logo.svg" alt="Toyzinger Logo" class="header__icon">
    </div>
  </a>

  <nav class="header__nav">
    <a routerLink="/products" routerLinkActive="active" class="header__link">Products</a>
    <a routerLink="/images" routerLinkActive="active" class="header__link">Images</a>
  </nav>

  <div class="header__buttons">
    <button routerLink="/new-product" routerLinkActive="active" class="btn-primary btn-sm">New Product</button>
    <button routerLink="/add-images" routerLinkActive="active" class="btn-secondary btn-sm">Add Images</button>
  </div>

</header>
