@use '../../../styles/variables' as *;

.edit-manufacturer {
  &__content {
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    button {
      border: none;
      background: transparent;
      cursor: pointer;
      color: $color-primary;
    }

    h1 {
      color: $color-primary;
    }

    p {
      flex: 1;
      text-align: right;
      color: $color-text-medium;
    }
  }

  &__loading, &__error, &__not-found {
    padding: 2rem;
    text-align: center;
    color: $gray-400;
  }

  &__error {
    color: $color-danger;
  }

  &__not-found {
    color: $color-danger;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
