@use '../../../styles/variables' as *;

.not-found {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 50px);
  padding: 2rem;
  background-color: $color-bg-dark;

  &__container {
    text-align: center;
    max-width: 500px;
  }

  &__icon {
    font-size: 8rem;
    font-weight: bold;
    color: $color-primary;
    line-height: 1;
    margin-bottom: 1rem;
    text-shadow: 0 0 20px rgba($color-primary, 0.3);
  }

  &__title {
    font-size: 2rem;
    font-weight: 600;
    color: $color-text-light;
    margin-bottom: 1rem;
  }

  &__message {
    font-size: 1.1rem;
    color: $color-text-medium;
    margin-bottom: 2rem;
    line-height: 1.6;
  }

  button {
    min-width: 200px;
  }
}