@use '../../../../styles/variables' as *;

.folders-menu-delete {
  &__info {
    margin-bottom: 1rem;
  }

  &__warning {
    color: $color-text-light;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  &__actions {
    display: flex;
    gap: 0.75rem;

    > button {
      flex: 1;
    }
  }
}
