<div class="folders-menu-delete">
  <div class="folders-menu-delete__info">
    <p class="folders-menu-delete__warning">Are you sure you want to delete this folder?</p>
    <app-form-input
      [value]="folderName()"
      [label]="'Folder to delete'"
      [disabled]="true"
    />
  </div>

  <div class="folders-menu-delete__actions">
    <button class="btn-secondary" type="button" (click)="onCancel()" [disabled]="loading()">
      Cancel
    </button>
    <button class="btn-danger" type="button" (click)="onDeleteFolder()" [disabled]="loading()">
      {{ loading() ? 'Deleting...' : 'Delete' }}
    </button>
  </div>
</div>
