
<td class="collection-list-item__name">{{ collection().name.en }}</td>
<td class="collection-list-item__slug">/{{ collection().slug }}</td>
<td class="collection-list-item__franchise">{{ collection().franchiseId || '-' }}</td>
<td class="collection-list-item__manufacturer">{{ collection().manufacturerId || '-' }}</td>
<td class="collection-list-item__status">{{ collection().isActive ? 'Active' : 'Inactive' }}</td>
<td class="collection-list-item__actions">
  <button class="btn-sm btn-primary" (click)="onEdit()">
    <span class="material-icons-outlined">edit</span>
  </button>
  <button class="btn-sm btn-danger" (click)="onDelete()">
    <span class="material-icons-outlined">delete</span>
  </button>
</td>

