@use '../../../../styles/variables' as *;

.dimensions-menu-item {
  &__node {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    user-select: none;

    &:hover {
      background-color: $color-bg-light;
    }

    &--selected {
      background-color: $color-bg-light;
      color: $color-primary;

      .dimensions-menu-item__icon {
        color: $color-primary;
      }
    }

    &--droppable {
      // Subtle visual cue that this node can receive drops
      &:hover {
        background-color: rgba($color-primary, 0.1);
      }
    }

    &--drag-over {
      background-color: rgba($color-primary, 0.2);
      border: 2px dashed $color-primary;
    }
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-right: 0.25rem;
    flex-shrink: 0;
  }

  &__spacer {
    width: 24px;
    height: 24px;
    margin-right: 0.25rem;
    flex-shrink: 0;
  }

  &__icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    color: $color-text-light;
  }

  &__name {
    font-size: 0.9rem;
    color: $color-text-light;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
