// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-lg: 1440px;

// Mobile first approach
@mixin mq-mobile {
  @media (min-width: #{$breakpoint-mobile}) {
    @content;
  }
}

@mixin mq-tablet {
  @media (min-width: #{$breakpoint-tablet}) {
    @content;
  }
}

@mixin mq-desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

@mixin mq-desktop-lg {
  @media (min-width: #{$breakpoint-desktop-lg}) {
    @content;
  }
}

// Desktop first approach (max-width)
@mixin mq-mobile-only {
  @media (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin mq-tablet-only {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin mq-desktop-only {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}
