// Primary colors
// $color-primary: #DC8F02;
$color-primary: #4FA0FA;
// $color-primary: #c362e6;

$color-secondary: #F4D03F;
$color-accent: #E67E22;

// State colors
$color-success: #5cb85c;
$color-warning: #ffd966;
$color-danger: #e57373;
$color-info: #64b5f6;

// Grayscale (from lighter to darker)
$gray-100: #FFFFFF;
$gray-200: #E0E0E0;
$gray-300: #C5C6C7;
$gray-400: #909293;
$gray-500: #66676A;
$gray-600: #434547;
$gray-700: #2A2E32;
$gray-800: #272B2F;
$gray-900: #212529;
$gray-1000: #000000;

// Text colors (from lighter to darker)
$color-text-light: $gray-100;
$color-text-medium: $gray-300;
$color-text-dark: $gray-400;

// Background colors (from lighter to darker)
$color-bg-light: $gray-700;
$color-bg-medium: $gray-800;
$color-bg-dark: $gray-900;