<div class="edit-product">
  <section class="edit-product__content">

    <app-title-page
      title="Edit Product"
      [subtitle]="id()"
      backRoute="/products"
    />

    @if (loading()) {
      <div class="edit-product__loading">Loading product...</div>
    } @else if (error()) {
      <div class="edit-product__error">{{ error() }}</div>
    } @else if (!product()) {
      <div class="edit-product__not-found">Product not found</div>
    } @else {
      @if (product(); as p) {
        <div class="edit-product__form">
          <app-product-form [product]="p" (updatedProduct)="updatedProductDataChange($event)"></app-product-form>
          <button
            type="button"
            class="btn-primary"
            [disabled]="loading() || !isDataValid()"
            (click)="onSubmit()"
          >
            {{ loading() ? 'Updating...' : 'Update Product' }}
          </button>
          <!-- <pre>{{ product() | json }}</pre> -->
      </div>
      }
    }
  </section>
</div>
