@use '../../../styles/mixins' as *;

.folders-dropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include mq-tablet {
    flex-direction: row;
    gap: 1.5rem;

    app-form-select {
      flex: 1;
    }
  }
}

:host {
  display: block;
}