<div class="form__group">
  <!-- ====================== SPANISH TEXTAREA ========================= -->
  <app-form-textarea
    label="SPANISH"
    [(value)]="valueEs"
    [disabled]="disabled()"
  />
  <!-- ====================== ACTIONS ========================= -->
  <div class="form__dualtextarea-actions">
    <button
      type="button"
      class="form__dualtextarea-btn btn-tertiary btn-sm"
      (click)="copyToEnglish()"
      [disabled]="disabled() || !valueEs().trim()"
      title="Copy to English"
    >
      <span class="material-icons-outlined">move_down</span>
    </button>

    <button
      type="button"
      class="form__dualtextarea-btn btn-tertiary btn-sm"
      (click)="translate()"
      [disabled]="disabled() || !valueEs().trim()"
      title="Translate"
    >
      <span class="material-icons-outlined">translate</span>
    </button>

    <button
      type="button"
      class="form__dualtextarea-btn btn-tertiary btn-sm"
      (click)="clear()"
      [disabled]="disabled() || (!valueEs().trim() && !valueEn().trim())"
      title="Clear both textareas"
    >
      <span class="material-icons-outlined">layers_clear</span>
    </button>
  </div>
  <!-- ====================== ENGLISH TEXTAREA ========================= -->
  <app-form-textarea
    label="ENGLISH"
    [(value)]="valueEn"
    [disabled]="disabled()"
  />
</div>
