<div class="subcollection-form">
  <div class="subcollection-form__row">
    <app-dropdown-collections
      [label]="'Collection'"
      [loading]="loading()"
    />
  </div>
  <!-- ROW -->
  <div class="subcollection-form__row">
    <app-form-input
      #nameEsInput
      label="Name (Spanish)"
      placeholder="Enter subcollection name in Spanish"
      [(value)]="name_es"
      [disabled]="loading()"
      [required]="true"
    />
    <app-form-input
      label="Name (English)"
      placeholder="Enter subcollection name in English"
      [(value)]="name_en"
      [disabled]="loading()"
      [required]="true"
      (blur)="nameENBlur()"
    />
  </div>
  <!-- ROW -->
  <div class="subcollection-form__row">
    <app-form-input
      label="Slug"
      placeholder="Enter URL slug"
      [(value)]="slug"
      [disabled]="loading()"
      (blur)="slugBlur()"
    />
  </div>

  @if (!reduced()) {
  <!-- ROW -->
  <div class="subcollection-form__row">
    <app-form-input
      label="Order"
      type="number"
      placeholder="Display order"
      [(value)]="order"
      [disabled]="loading()"
    />
  </div>
  <!-- ROW -->
  <app-product-form-dualtextarea
    [(valueEn)]="text_en"
    [(valueEs)]="text_es"
    [disabled]="loading()"
  />
  <!-- ROW -->
  <div class="subcollection-form__row">
    <app-form-checkbox
      label="Active SubCollection"
      [(checked)]="isActive"
      [disabled]="loading()"
    />
  </div>
  }
</div>
