@use '../../../styles/variables' as *;

.header {
  margin-bottom: 2rem;

  &__info {
    display: flex;
    gap: 0.25rem;
    font-size: 0.875rem;
  }

  &__count {
    margin: 0;
    color: $gray-200;
  }

  &__breadcrumb {
    font-weight: 500;
    font-style: italic;
    color: $gray-400;
  }

  h1 {
    margin: 0 0 0.5rem 0;
    font-size: 2rem;
    font-weight: 600;
    color: $color-text-light;
  }
}

.loading,
.error,
.empty {
  padding: 2rem;
  text-align: center;
  color: $gray-400;
  font-size: 0.875rem;
}

.error {
  color: $color-danger;
}

// ====== TABLE ==================

$drag-width: 40px;
$checkbox-width: 40px;
$name-width: auto;
$order-width: 90px;
$id-width: 200px;
$actions-width: 110px;

.products-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  background: transparent;

  &__header {
    tr {
      background: transparent;
      height: 45px;
    }

    th {
      padding: 0.5rem;
      font-size: 0.8125rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      color: $gray-400;
      border-bottom: 2px solid $gray-700;
      text-align: left;
      vertical-align: middle;
    }

    &--drag {
      width: $drag-width;
      text-align: center;

      .material-icons-outlined {
        cursor: grab;
        display: block;
        font-size: 1.25rem;
        color: $gray-500;
        transition: opacity 0.2s ease, color 0.2s ease;
      }
    }

    &--checkbox {
      width: $checkbox-width;
      text-align: center;
    }

    &--name {
      width: $name-width;
    }

    &--order {
      width: $order-width;
    }

    &--id {
      width: $id-width;
    }

    &--actions {
      width: $actions-width;
      text-align: right;
    }
  }
}

// ====== PRODUCT LIST ITEM ==================
.product-list-item {
  background-color: $gray-800;

  &__td {
    padding: 0.5rem;
    vertical-align: middle;
  }

  &--drag {
    width: $drag-width;
    text-align: center;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

    .material-icons-outlined {
      display: block;
      font-size: 1.25rem;
      color: $gray-500;
      opacity: 0;
      transition: opacity 0.2s ease, color 0.2s ease;
    }

    &:hover .material-icons-outlined {
      opacity: 1;
    }
  }

  &--checkbox {
    width: $checkbox-width;
    text-align: center;
  }

  &--info {
    .name {
      font-size: 0.9375rem;
      font-weight: 500;
      color: $color-text-light;
      margin: 0;
      line-height: 1.5;
    }
  }

  &--order {
    width: $order-width;

    input[type='number'] {
      width: 60px;
      background-color: $gray-600;
      border: 1px solid $gray-600;
      border-radius: 4px;
      color: $color-text-light;
      font-size: 1rem;
      text-align: center;

      &:focus {
        outline: none;
        border-color: $color-primary;
      }

      // Forzar que las flechas siempre sean visibles y clickeables
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        opacity: 1;
        cursor: pointer;
        margin-left: 5px;
      }

      // Firefox
      -moz-appearance: textfield;
      &:hover,
      &:focus {
        -moz-appearance: number-input;
      }
    }
  }

  &--id {
    color: $gray-400;
    font-size: 0.875rem;
    font-family: monospace;
  }

  &--actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
