@use '../../../../styles/variables' as *;

.subcollection-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__row {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 768px) {
      flex-direction: row;

      > * {
        flex: 1;
      }
    }
  }
}
