@use '../../../styles/variables' as *;

.dimension-info-box {
  display: flex;
  align-items: center;
  gap: 2rem;

  &__icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $color-primary;
    color: $gray-100;
    font-size: 1.3rem;
    font-weight: bolder;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
