@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.product-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @include mq-mobile-only {
      grid-template-columns: 1fr;
    }
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid $gray-700;

    @include mq-mobile-only {
      flex-direction: column-reverse;

      button {
        width: 100%;
      }
    }
  }
}