@use '../../../../styles/variables' as *;

.dual-textarea {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__copy-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: flex-start;

    .material-icons-outlined {
      font-size: 1.125rem;
    }
  }
}
