@use '../../../../styles/variables' as *;

.dual-textarea {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5rem;
    padding: 0.5rem;

    .material-icons-outlined {
      font-size: 1.25rem;
    }
  }
}
