@use '../../../../styles/variables' as *;
@use 'sass:color';

.folders-menu-item {
  &__folder {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    user-select: none;

    &:hover {
      background-color: $color-bg-light;
    }

    &--selected {
      background-color: $color-bg-light;
      color: $color-primary;

      .folders-menu-item__icon {
        color: $color-primary;
      }
    }

    &--drag-over {
      background: color.adjust($color-primary, $alpha: -0.9);
      border-left: 3px solid $color-primary;
      padding-left: calc(0.875rem - 3px); // Compensate for border
    }
  }

  &__toggle {
    padding: 0.25rem;
    margin-right: 0.25rem;
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__spacer {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-right: 0.25rem;
  }

  &__icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    color: $color-text-light;
  }

  &__name {
    font-size: 0.9rem;
    color: $color-text-light;
    flex: 1;
  }
}