@use '../../../styles/variables' as *;

.new-product {
  &__content {
    max-width: 980px;
    margin: 0 auto;
    padding: 2rem;
  }

  h1 {
    color: $color-primary;
    margin-bottom: 1rem;
  }

  p {
    color: $color-text-medium;
    margin-bottom: 2rem;
  }

  .container {
    margin-bottom: 1rem;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem 0;
    margin-top: 2rem;
  }
}