<div class="foldersmenu">

  <div class="foldersmenu__header">
    <h3 class="foldersmenu__title">Folders</h3>
    <div class="foldersmenu__actions">
      <button
        class="foldersmenu__action-btn btn-tertiary"
        title="Create folder"
        (click)="openNewFolderMenu()">
        <span class="material-icons">create_new_folder</span>
      </button>
      <button
        class="foldersmenu__action-btn btn-tertiary"
        title="Rename folder"
        (click)="openRenameMenu()">
        <span class="material-icons">edit</span>
      </button>
      <button
        class="foldersmenu__action-btn btn-tertiary"
        title="Delete folder"
        (click)="openDeleteMenu()">
        <span class="material-icons">delete</span>
      </button>
    </div>
  </div>

  @if (showNewFolderMenu() || showRenameMenu() || showDeleteMenu()) {
    <div class="foldersmenu__action-menu">
      <div class="foldersmenu__action-menu-header">
        <h4>{{ actionMenuTitle() }}</h4>
        <button class="foldersmenu__close-btn btn-tertiary btn-icon" (click)="closeActionsMenus()">
          <span class="material-icons">close</span>
        </button>
      </div>
      @if (showNewFolderMenu()) {
        <app-foldersmenu-new
          [selectedFolder]="selectedFolder()"
          (createFolder)="onCreateFolder($event)"
          (cancel)="closeActionsMenus()"
        />
      }
      @if (showRenameMenu()) {
        <app-foldersmenu-rename
          [selectedFolder]="selectedFolder()"
          (renameFolder)="onRenameFolder($event)"
          (cancel)="closeActionsMenus()"
        />
      }
      @if (showDeleteMenu()) {
        <app-foldersmenu-delete
          [selectedFolder]="selectedFolder()"
          (deleteFolder)="onDeleteFolder()"
          (cancel)="closeActionsMenus()"
        />
      }
    </div>
  }

  <div class="foldersmenu__tree">
    @for (folder of getRootFolders(); track folder.id) {
      <app-foldersmenu-item
        [folder]="folder"
        [allFolders]="folders()"
        [selectedFolderId]="selectedFolder()?.id || null"
        [expandedFolderIds]="expandedFolders()"
        [level]="0"
        (folderSelected)="selectFolder($event)"
        (folderToggled)="toggleFolder($event)"
      />
    }
  </div>
</div>

