@use '../../../styles/variables' as *;

.foldersmenu {
  display: flex;
  flex-direction: column;
  height: 100%;

  // FOLDERS ACTIONS
  &__header {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid $color-bg-light;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    color: $color-text-light;
    margin-bottom: 10px;
  }

  &__actions {
    width: 100%;
    display: flex;
    gap: 0.5rem;
  }

  &__action-btn {
    flex: 1;
    border-radius: 4px;
  }

  // FOLDERS ACTION MENU
  &__action-menu {
    width: 100%;
    border-radius: 4px;
    border: 1px solid $gray-600;
    padding: 0.50rem;
    margin-bottom: 1rem;

    &-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;

      h4 {
        font-size: 0.9rem;
        color: $color-text-light;
        margin: 0;
      }
    }
  }

  &__close-btn {
    padding: 0.25rem;
  }

  // FOLDERS TREE
  &__tree {
    flex: 1;
    overflow-y: auto;
  }

  &__item {
    margin-bottom: 0.25rem;
  }

  &__folder {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    user-select: none;

    &:hover {
      background-color: $color-bg-light;
    }

    &--selected {
      background-color: $color-bg-light;
      color: $color-primary;

      .foldersmenu__icon {
        color: $color-primary;
      }
    }

    &--child {
      padding-left: 2rem;
    }
  }

  &__toggle {
    padding: 0.25rem;
    margin-right: 0.25rem;
  }

  &__icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    color: $color-text-light;
  }

  &__name {
    font-size: 0.9rem;
    color: $color-text-light;
    flex: 1;
  }

  &__children {
    padding-left: 1rem;
  }
}
