@use '../../../styles/variables' as *;

.foldersmenu {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid $color-bg-light;
  }

  &__title {
    font-size: 1rem;
    font-weight: 600;
    color: $color-text-light;
    margin: 0;
  }

  &__add-btn {
    background: none;
    border: none;
    color: $color-text-light;
    cursor: pointer;
    padding: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.2s;

    &:hover {
      background-color: $color-bg-light;
    }

    .material-icons {
      font-size: 1.25rem;
    }
  }

  &__tree {
    flex: 1;
    overflow-y: auto;
  }

  &__item {
    margin-bottom: 0.25rem;
  }

  &__folder {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    user-select: none;

    &:hover {
      background-color: $color-bg-light;
    }

    &--selected {
      background-color: $color-bg-light;
      color: $color-primary;

      .foldersmenu__icon {
        color: $color-primary;
      }
    }

    &--child {
      padding-left: 2rem;
    }
  }

  &__toggle {
    background: none;
    border: none;
    padding: 0;
    margin-right: 0.25rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text-light;

    .material-icons {
      font-size: 1.25rem;
    }
  }

  &__icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    color: $color-text-light;
  }

  &__name {
    font-size: 0.9rem;
    color: $color-text-light;
    flex: 1;
  }

  &__children {
    padding-left: 1rem;
  }
}
