<div class="folders-menu">

  <div class="folders-menu__header">
    <h3 class="folders-menu__title">Folders</h3>
    <div class="folders-menu__actions">
      <button class="folders-menu__action-btn btn-tertiary"
        title="Create folder"
        (click)="openNewFolderMenu()">
        <span class="material-icons-outlined">add</span>
      </button>
      <button class="folders-menu__action-btn btn-tertiary"
        title="Rename folder"
        (click)="openRenameMenu()">
        <span class="material-icons-outlined">edit</span>
      </button>
      <button class="folders-menu__action-btn btn-tertiary"
        title="Delete folder"
        (click)="openDeleteMenu()">
        <span class="material-icons-outlined">delete</span>
      </button>
    </div>
  </div>

  @if (showNewFolderMenu() || showRenameMenu() || showDeleteMenu()) {
  <div class="folders-menu__action-menu">
    <div class="folders-menu__action-menu-header">
      <h4>{{ actionMenuTitle() }}</h4>
      <button class="folders-menu__close-btn btn-tertiary btn-icon"
        (click)="closeActionsMenus()">
        <span class="material-icons-outlined">close</span>
      </button>
    </div>
    @if (showNewFolderMenu()) {
    <app-folders-menu-new
      (createFolder)="onCreateFolder($event)"
      (cancel)="closeActionsMenus()"
    />
    }
    @if (showRenameMenu()) {
    <app-folders-menu-rename
      (renameFolder)="onRenameFolder($event)"
      (cancel)="closeActionsMenus()"
    />
    }
    @if (showDeleteMenu()) {
    <app-folders-menu-delete
      (deleteFolder)="onDeleteFolder()"
      (cancel)="closeActionsMenus()"
    />
    }
  </div>
  }

  <div class="folders-menu__tree">
    @for (folder of getRootFolders(); track folder.id) {
    <app-folders-menu-item
      [folder]="folder"
      [allFolders]="folders()"
      [selectedFolderId]="selectedFolder()?.id || null"
      [expandedFolderIds]="expandedFolders()"
      [level]="0"
      (folderSelected)="selectFolder($event)"
      (folderToggled)="toggleFolder($event)"
    />
    }
  </div>
</div>