/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as *;
@use 'styles/reset';
@use 'styles/buttons';
@use 'styles/container';
@use 'styles/richtext';

body {
  background-color: $color-bg-dark;
  color: $color-text-light;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

pre {
    align-self: center;
    padding: 1rem;
    border: 1px solid $gray-600;
    background-color: $gray-800;
    border-radius: 4px;
    margin: 0;
    color: $color-text-light;
    font-family: monospace;
    white-space: pre-wrap;
}