/* You can add global styles to this file, and also import other style files */
@use 'styles/variables' as *;
@use 'styles/reset';
@use 'styles/buttons';
@use 'styles/container';
@use 'styles/richtext';

body {
  background-color: $color-bg-dark;
  color: $color-text-light;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}