@use '../../../../styles/variables' as *;

.foldersmenu-item {
  &__folder {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.25rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.2s;
    user-select: none;

    &:hover {
      background-color: $color-bg-light;
    }

    &--selected {
      background-color: $color-bg-light;
      color: $color-primary;

      .foldersmenu-item__icon {
        color: $color-primary;
      }
    }
  }

  &__toggle {
    padding: 0.25rem;
    margin-right: 0.25rem;
  }

  &__spacer {
    width: 32px; // Same width as toggle button
    flex-shrink: 0;
  }

  &__icon {
    font-size: 1.25rem;
    margin-right: 0.5rem;
    color: $color-text-light;
  }

  &__name {
    font-size: 0.9rem;
    color: $color-text-light;
    flex: 1;
  }
}
