@use '../../../../styles/variables' as *;
@use '../../../../styles/breakpoints' as *;

.product-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1200px;

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

    @include mq-mobile-only {
      grid-template-columns: 1fr;
    }
  }
}