<div class="product-form">

  <div class="container">
    <h3 class="container__title">Product Information</h3>
    <!-- ROW -->
    <app-form-input
      label="Product Name"
      placeholder="Enter product name"
      [(value)]="name"
      [disabled]="loading()"
      [required]="true"
    />
    <!-- ROW -->
    <div class="product-form__row">
      <app-dropdown-manufacturers
        label="Manufacturer"
        [loading]="loading()"
        [disabled]="loading()"
      />
      <app-dropdown-franchises
        label="Franchise"
        [disabled]="loading()"
      />
    </div>
    <!-- ROW -->
    <div class="product-form__row">
      <app-dropdown-collections
        label="Collection"
        [loading]="loading()"
      />
      <app-dropdown-subcollections
        label="SubCollection"
        [loading]="loading()"
      />
    </div>
    <!-- ROW -->
    <div class="product-form__row">
      <app-form-input
        label="Year Released"
        type="number"
        placeholder="Enter year"
        [(value)]="yearReleased"
        [disabled]="loading()"
      />
      <app-form-input
        label="Size"
        placeholder="Enter size"
        [(value)]="size"
        [disabled]="loading()"
      />
    </div>
    <!-- ROW -->
    <div class="product-form__row">
      <app-form-input
        label="SKU"
        placeholder="Enter SKU"
        [(value)]="sku"
        [disabled]="loading()"
      />
      <app-form-checkbox
        label="Active Product"
        [(checked)]="isActive"
        [disabled]="loading()"
      />
    </div>
  </div>

  <div class="container">
    <h3 class="container__title">Accessories</h3>
    <app-form-accessories
      [(accessories)]="accessories"
      [disabled]="loading()"
    />
  </div>

  <div class="container">
    <h3 class="container__title">Toy Descriptions</h3>
    <app-form-dualtextarea
      [(valueEn)]="toyDescription_en"
      [(valueEs)]="toyDescription_es"
      [disabled]="loading()"
    />
  </div>

  <div class="container">
    <h3 class="container__title">Character Descriptions</h3>
    <app-form-dualtextarea
      [(valueEn)]="characterDescription_en"
      [(valueEs)]="characterDescription_es"
      [disabled]="loading()"
    />
  </div>

</div>